@import '~vue-material/dist/theme/engine';

@include md-register-theme(
  'default',
  (
    primary: md-get-palette-color(amber, 800),
    accent: #171717,
    theme: light
  )
);

@import '~vue-material/dist/theme/all';

// Colors

$gold: #ffbf00;
